PORT=5000
MONGODB_URI=mongodb+srv://user:%23HD3t77Gvnr_%25i6@cluster0.gpdev8i.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=2153426738e14f86dc14cd8d9014ae13bccf41b3b406a351fe122368670a67f90da8de645ea68b833f510fcd74a74cd22e46e5900ec7ef9313526704d5d3f80f
JWT_EXPIRES_IN=24h
ADMIN_EMAIL=admin@nepalirestaurant.com
ADMIN_PASSWORD=admin123
CLIENT_URL=http://localhost:3000

# Google reCAPTCHA v2 (server-side secret key)
# Replace with your production secret key from https://www.google.com/recaptcha/admin
RECAPTCHA_SECRET_KEY=6Le2yFstAAAAAG_OKvQbzaXq-sBX1FaT73N1yn_G

CLOUDINARY_CLOUD_NAME=izsiyvaa
CLOUDINARY_API_KEY=232259679477431
CLOUDINARY_API_SECRET=6Le2yFstAAAAAG_OKvQbzaXq-sBX1FaT73N1yn_G
